
.main_container{
    background-color:#f6efe8;
    font-family: sans-serif;
    

    
    .main_content{
        background-color:#f6efe8;
        padding-top: 100px;
        padding-bottom: 130px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: center;


        .welcome-tag{
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .welcome-sent{
            margin-bottom: 50px;
            font-size: 20px;
        }

        .main_content_left {
            width: 800px;
            margin-right: 150px;
            
        }

        .signupButton {
            color: #fff;
            max-width: 140px;
            text-align: center;
            padding: 30px;
            padding-top: 18px;
            padding-bottom: 18px;
            margin-top: 45px;
            margin-bottom: 10px;
            background-color: #611f69;
            text-decoration: none;
            border-radius: 5px;
        }

        .signupButton:hover {
            background-color: #4A154B;
            text-decoration: none;
        }

    }

    .footer_top_container{
        background-color: #4a154b;
        clip-path: ellipse(90% 100% at center top);
        height: auto;
        min-height: 330px;
        text-align: center;



        .footer_sent_container{
            
            .footer_sent{
                font-size: 40px;
                color: white;
                padding-top: 45px;
            }
    
            .freeTrial_container{
                padding-top: 40px;

                .footer_freeTrial{
                    // display: flex;
                    // justify-content:column;
                    background-color: #FFFFFF;
                    align-content: center;
                    border-radius: 3px;
                    color: #611f69;
                    fill: #611f69;
                    padding-left: 175px;
                    padding-right: 175px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                .footer_freeTrial:hover{
                    padding-left: 173px;
                    padding-right: 173px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                }
            }

            .social{
                color: rgb(152, 86, 172);
                margin-top: 70px;
                margin-bottom: 5px;
            }

            .social_links{
                display: flex;
                justify-content: center;
                font-size: 12px;
                
                .individual_info{
                    display:flex;
                    flex-direction: column;

                    .info_align{
                        display: flex;
                        margin-bottom: 7px;
                        margin-left: 5px;

                        a{
                            margin-left: 3px;
                            color:rgb(221, 220, 220);
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .name-space{
                    display: flex;
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    color:rgb(221, 220, 220);

                    img{
                        height: auto;
                        width: 20px;
                    }
                }
              
            }

        }


        .splash_img{
            height:auto;
            width: 300px;
        }

        .footer_container {
            background-color: white;
            position:absolute;
            left:0;
            bottom:0;
            right:0;
            padding: 5px;
            font-size: 12px;
    
        
            .copyRight{
                color: black;
                margin:5px;
            }
        }

    }

    .featured_info{
        background-color: rgb(246, 245, 245);
        padding-top: 60px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-evenly;


        .feature_title{
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 26px;


        }
        
        .title_info{
            display: flex;
            align-items: center;
            font-size: 20px;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .feat_img {
            height: auto;
            width: 35px;
            margin-left: 8px;
        }

        .feat_img1 {
            height: auto;
            width: 25px;
            margin-left: 12px;
        }


        .title_name{
            display: flex;
            align-items: center;
            font-size: 20px;
            margin-top: 12px;
            margin-bottom: 12px;

            .check_img{
                height: auto;
                width: 20px;
                margin-right: 10px;
            }
        }
    }
}
