.createform_container input[type=text],
.createform_container textarea,
.createform_container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
.show_createform_container{
    margin-left: 208px;
    margin-bottom: 41px;
    margin-top: 35px;


}
.createform_container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
 .createform_container .question-subject{
     text-align: left;
 }
.submit-question-button{
    background-color:#611f69;
    color: #f5eaea;
    border-radius: 5px;
    padding: 9px;
    margin-top: 9px;
}


.create-room-btn{
             background-color: #611f69;
             color: #f5eaea;
             border-radius: 33px;
             padding: 8px;
             margin-bottom: 32px;
             margin-left: 317px;
}

.update-question-button{
}