.createform_container input[type=text],
.createform_container textarea,
.createform_container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
.show_createform_container{
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    margin-bottom: 41px;
    margin-top: 35px;


}
.createform_container{
   display: block;
   text-align: center;
    /* margin-top: 80px; */

}

.createform_container form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.question-subject{
     text-align: left;
     color: black;

}

.question-subject::placeholder {
    color: red; 
}

.submit-question-button{
    background-color:#611f69;
    color: #f5eaea;
    border-radius: 5px;
    padding: 9px;
    margin-top: 9px;
}


.submit-question-button:active {
    background-color: #47164d;
    color: #afa7a7;

}



.create-room-btn:active {
    background-color: #47164d;
    color: #afa7a7;
   
}

.submit-question-button:hover {
    background-color: rgb(93, 2, 93);
}
.question_errors_msg{
    margin-top: 2px;
    color: rgb(250, 125, 125);
    font-size: 15px;
    /* max-width: 300px; */
    /* display:flex;
    justify-content: center; */
    /* align-items: center; */

}

.ques_button_err{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.question_create_label {
    color: white;
    font-size: 16px;

}

.questionForm{
    color: white;
    font-size: 16px;

}