
.question_header{
    
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: 0;
    color: #3f413f;
}

.question_header h2{
     font-size: 23px;
     font-family: var(--theme-question-title-font-family);
         line-height: 1.35;
         

}
.question_container{

        flex-direction: column;
        background-color: white;
        filter: brightness(99%);
        border-radius: 10px;
        padding: 10px 13px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;

        margin: auto;
                margin-top: 30px;

        width: 50%;
        padding: 10px;
        min-width: 717px;
}


.question_body{
    font-size: 21px;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;

}

.question_footer{
        color: #3f413f;
       justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding-bottom: 23px;
        border-bottom: 1px solid #b4b4b4;
        margin-bottom: 12px;
        padding-top: 5px;

}

.footer-status {
    display: flex;
    margin-left: 5px;

}

.question_footer p{
    color: #3f413f;
    /* justify-content: space-evenly; */
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.question_footer h1{
    margin-top: 8px;

}

.footer-author{
    display: flex;
}




.question_footer .tag{
    margin-left: 20px;

}

        

.date_posted{
    width: 178px;
     white-space: nowrap;
     overflow: hidden;
}


.updateForm_container{
    display: block;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.updateForm_container .submit-question-button{
      margin-left: auto;
      margin-right: auto;
      display: block;

}


  .updateForm_container textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.updateForm_container input[type=text],
.updateForm_container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.update_form_header{
    text-align: center;
}

.chatButton {
    color: red;
    background-color: black;
    padding: 5px 10px 5px 10px; 
    border: 1px solid red;
}

.chatButton:hover {
    background-color: white;
    color: black;
}

.question-show-author-image{
    height: 38px;
    width: auto;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 5px;
;
}
.question-show-author {
    display: flex;
}


.question_header_container{
    justify-content: space-between;
    display: flex;
    
}

.delete-question-container{
    margin-left: 30px;
    margin-left: 382px;

}


.delete-question-btn{
    color: #874f8e;
    font-size: 17px;
}

.delete-question-btn:hover{
    color: #560261;
   
}

.delete-question-btn:active {
    color:  #afa7a7;
;
}


.video-chat-button-container{
margin-left: auto;
margin-right: auto;
width: 50%;
justify-content: center;
}

.create-room-btn {
    background-color: #611f69;
    color: #f5eaea;
    border-radius: 33px;
    padding: 8px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}



.update-button-container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}


.xIcon{
    color: rgb(212, 38, 8);
    margin-right: 5px;
    font-size: 20px;
}

.checkIcon{
    color: green;
    margin-right: 5px;
    font-size: 20px;
}