.room_container{
    background-color: #1264A3;
    padding-bottom: 200px;
    
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;

        .video_titles {
            display: flex;
            justify-content: space-evenly; 
            padding-bottom: 50px;

            .title {
                color: white;
            }
        }

        .main_videos{
            display: flex;
            justify-content: center;
            width: 100vw;

            #video-grid{
                display: flex;
            }
        }
        .main_controls{
            display: flex;
            justify-content: space-evenly;
            color: white;
            padding: 15px;
        }
        
        .main_controls button{
            padding: 10px;
            border-radius: 5px;
        }
        .main_controls button:hover {
            background-color: #115080;
        }
    }


    

}
