.userAuth {
    font-family: Sans-serif;
    color: #414141;
}

/*! user login section */

// .login_title {
//     font-size: 26px;
//     margin-left: 50px;
//     margin-top: 35px;
//     margin-bottom: 20px;
//     display: flex;
//     justify-content: space-between;
// }

// .login_form_container {
//     display: flex;
//     justify-content: center;

// }

.sub_title {
    font-size: 19px;
}

.login_form_container hr {
    display: block;
    border-top: 1px solid lightgray;
    top: 4px;
    margin: 1em 0;
}

form input {
    width: 280px;
}


.left_login {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.right_login {
    display: flex;
    flex-direction: column;
    margin-right: 100px;

}

.spacer_login {
    margin-left: 40px;
    margin-right: 40px;
}


.login_form_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    padding-right: 100px;

}

.userOption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 420px;
    bottom: 50px;
}

.email_login,
.password_login {
    font-size: 14px;
    outline: 1px solid lightgray;
    color: #414141;
    margin-top: 25px;
    padding: 12px;
}


.asterisk {
    font-size: 11px;
    color: rgb(255, 98, 59);
    padding-right: 10px;
    align-content: row;
}




/* login button */
.demoButton {
    color: #611f69;
    outline: 2px solid #611f69;
    max-width: 140px;
    text-align: center;
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 45px;
    margin-bottom: 10px;
    background-color:#f6efe8;
}

.demoButton:hover {
    background-color: #1264A3;
    outline: 3px solid #1264A3;
    color:white;
}



.requried_field {
    font-size: 12px;
    color: rgb(255, 98, 59);
    margin-top: -3px;
}



.signup_form_container {
    display: flex;
}

.signup_title {
    font-size: 26px;
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

}

.signup_form_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    padding-right: 100px;
}

.left_signin {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.personal_login {
    display: flex;
    flex-direction: column;
}

.sign_info {
    display: flex;
    flex-direction: column;
}

.sub_title {
    margin-top: 50px;

}

.name_signup,
.lname_signup,
.email_signup,
.password_signup {
    font-size: 14px;
    outline: 1px solid lightgray;
    color: #414141;
    margin-top: 25px;
    padding: 12px;
}

.personal_input {
    margin-left: 10px;
}

.enter_back {
    display: flex;
    justify-content: space-between;
}

.signupButton {
    color: #fff;
    max-width: 140px;
    text-align: center;
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 45px;
    margin-bottom: 10px;
    background-color: #611f69;
    text-decoration: none;
    border-radius: 5px;
}

.signupButton:hover {
    background-color: #4A154B;
    text-decoration: none;
}


.check_div {
    display: flex;
    margin-top: 25px;
    font-size: 14px;
}

.check {
    max-width: 15px;
    margin-right: 5px;
    margin-top: 1px;
    cursor: pointer;
    padding: 15px;
}

.disclaimer {
    margin-top: 9px;
    font-size: 11.5px;
}

/*! error page*/

.errorPage {
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.errSent {
    margin-top: 45px;
    margin-right: 50px;
}

.errTitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.errContent {
    display: flex;
    justify-content: center;
}

.errContent img {
    height: auto;
    width: 515px;
    margin-right: 40px;
    margin-left: 40px;
}

.error_message {
    color: rgb(255, 98, 59);
    // position: absolute;
    

}